extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Icons'
block content
    .container.container-md
        .text-center
            h4.text-info.mt0
                a.text-info(href='//ionicons.com/' target='_blank')
                    em.ion-ionic.icon-2x
                br
                | Ionicons
            p
                | The premium icon font for Ionic Framework. 100% free and open source. MIT Licensed.
                br
                small.text-muted Click on icons to copy to clipboard
        .mt-5
            ul.nav.nav-tabs.mb-4(role='tablist')
                li.nav-item(role='presentation')
                    a.nav-link.active(href='#material', aria-controls='home', role='tab', data-toggle='tab') Material Style
                li.nav-item(role='presentation')
                    a.nav-link.active(href='#ios', aria-controls='home', role='tab', data-toggle='tab') iOS Style
            .tab-content
                #material.tab-pane.active(role='tabpanel')
                    .icons-list
                        span.icon-list-cell
                            i.ion.ion-md-add-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-add-circle
                        span.icon-list-cell
                            i.ion.ion-md-add
                        span.icon-list-cell
                            i.ion.ion-md-airplane
                        span.icon-list-cell
                            i.ion.ion-md-alarm
                        span.icon-list-cell
                            i.ion.ion-md-albums
                        span.icon-list-cell
                            i.ion.ion-md-alert
                        span.icon-list-cell
                            i.ion.ion-md-american-football
                        span.icon-list-cell
                            i.ion.ion-md-analytics
                        span.icon-list-cell
                            i.ion.ion-md-aperture
                        span.icon-list-cell
                            i.ion.ion-md-apps
                        span.icon-list-cell
                            i.ion.ion-md-appstore
                        span.icon-list-cell
                            i.ion.ion-md-archive
                        span.icon-list-cell
                            i.ion.ion-md-arrow-back
                        span.icon-list-cell
                            i.ion.ion-md-arrow-down
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropdown-circle
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropdown
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropleft-circle
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropleft
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropright-circle
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropright
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropup-circle
                        span.icon-list-cell
                            i.ion.ion-md-arrow-dropup
                        span.icon-list-cell
                            i.ion.ion-md-arrow-forward
                        span.icon-list-cell
                            i.ion.ion-md-arrow-round-back
                        span.icon-list-cell
                            i.ion.ion-md-arrow-round-down
                        span.icon-list-cell
                            i.ion.ion-md-arrow-round-forward
                        span.icon-list-cell
                            i.ion.ion-md-arrow-round-up
                        span.icon-list-cell
                            i.ion.ion-md-arrow-up
                        span.icon-list-cell
                            i.ion.ion-md-at
                        span.icon-list-cell
                            i.ion.ion-md-attach
                        span.icon-list-cell
                            i.ion.ion-md-backspace
                        span.icon-list-cell
                            i.ion.ion-md-barcode
                        span.icon-list-cell
                            i.ion.ion-md-baseball
                        span.icon-list-cell
                            i.ion.ion-md-basket
                        span.icon-list-cell
                            i.ion.ion-md-basketball
                        span.icon-list-cell
                            i.ion.ion-md-battery-charging
                        span.icon-list-cell
                            i.ion.ion-md-battery-dead
                        span.icon-list-cell
                            i.ion.ion-md-battery-full
                        span.icon-list-cell
                            i.ion.ion-md-beaker
                        span.icon-list-cell
                            i.ion.ion-md-bed
                        span.icon-list-cell
                            i.ion.ion-md-beer
                        span.icon-list-cell
                            i.ion.ion-md-bicycle
                        span.icon-list-cell
                            i.ion.ion-md-bluetooth
                        span.icon-list-cell
                            i.ion.ion-md-boat
                        span.icon-list-cell
                            i.ion.ion-md-body
                        span.icon-list-cell
                            i.ion.ion-md-bonfire
                        span.icon-list-cell
                            i.ion.ion-md-book
                        span.icon-list-cell
                            i.ion.ion-md-bookmark
                        span.icon-list-cell
                            i.ion.ion-md-bookmarks
                        span.icon-list-cell
                            i.ion.ion-md-bowtie
                        span.icon-list-cell
                            i.ion.ion-md-briefcase
                        span.icon-list-cell
                            i.ion.ion-md-browsers
                        span.icon-list-cell
                            i.ion.ion-md-brush
                        span.icon-list-cell
                            i.ion.ion-md-bug
                        span.icon-list-cell
                            i.ion.ion-md-build
                        span.icon-list-cell
                            i.ion.ion-md-bulb
                        span.icon-list-cell
                            i.ion.ion-md-bus
                        span.icon-list-cell
                            i.ion.ion-md-business
                        span.icon-list-cell
                            i.ion.ion-md-cafe
                        span.icon-list-cell
                            i.ion.ion-md-calculator
                        span.icon-list-cell
                            i.ion.ion-md-calendar
                        span.icon-list-cell
                            i.ion.ion-md-call
                        span.icon-list-cell
                            i.ion.ion-md-camera
                        span.icon-list-cell
                            i.ion.ion-md-car
                        span.icon-list-cell
                            i.ion.ion-md-card
                        span.icon-list-cell
                            i.ion.ion-md-cart
                        span.icon-list-cell
                            i.ion.ion-md-cash
                        span.icon-list-cell
                            i.ion.ion-md-cellular
                        span.icon-list-cell
                            i.ion.ion-md-chatboxes
                        span.icon-list-cell
                            i.ion.ion-md-chatbubbles
                        span.icon-list-cell
                            i.ion.ion-md-checkbox-outline
                        span.icon-list-cell
                            i.ion.ion-md-checkbox
                        span.icon-list-cell
                            i.ion.ion-md-checkmark-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-checkmark-circle
                        span.icon-list-cell
                            i.ion.ion-md-checkmark
                        span.icon-list-cell
                            i.ion.ion-md-clipboard
                        span.icon-list-cell
                            i.ion.ion-md-clock
                        span.icon-list-cell
                            i.ion.ion-md-close-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-close-circle
                        span.icon-list-cell
                            i.ion.ion-md-close
                        span.icon-list-cell
                            i.ion.ion-md-cloud-circle
                        span.icon-list-cell
                            i.ion.ion-md-cloud-done
                        span.icon-list-cell
                            i.ion.ion-md-cloud-download
                        span.icon-list-cell
                            i.ion.ion-md-cloud-outline
                        span.icon-list-cell
                            i.ion.ion-md-cloud-upload
                        span.icon-list-cell
                            i.ion.ion-md-cloud
                        span.icon-list-cell
                            i.ion.ion-md-cloudy-night
                        span.icon-list-cell
                            i.ion.ion-md-cloudy
                        span.icon-list-cell
                            i.ion.ion-md-code-download
                        span.icon-list-cell
                            i.ion.ion-md-code-working
                        span.icon-list-cell
                            i.ion.ion-md-code
                        span.icon-list-cell
                            i.ion.ion-md-cog
                        span.icon-list-cell
                            i.ion.ion-md-color-fill
                        span.icon-list-cell
                            i.ion.ion-md-color-filter
                        span.icon-list-cell
                            i.ion.ion-md-color-palette
                        span.icon-list-cell
                            i.ion.ion-md-color-wand
                        span.icon-list-cell
                            i.ion.ion-md-compass
                        span.icon-list-cell
                            i.ion.ion-md-construct
                        span.icon-list-cell
                            i.ion.ion-md-contact
                        span.icon-list-cell
                            i.ion.ion-md-contacts
                        span.icon-list-cell
                            i.ion.ion-md-contract
                        span.icon-list-cell
                            i.ion.ion-md-contrast
                        span.icon-list-cell
                            i.ion.ion-md-copy
                        span.icon-list-cell
                            i.ion.ion-md-create
                        span.icon-list-cell
                            i.ion.ion-md-crop
                        span.icon-list-cell
                            i.ion.ion-md-cube
                        span.icon-list-cell
                            i.ion.ion-md-cut
                        span.icon-list-cell
                            i.ion.ion-md-desktop
                        span.icon-list-cell
                            i.ion.ion-md-disc
                        span.icon-list-cell
                            i.ion.ion-md-document
                        span.icon-list-cell
                            i.ion.ion-md-done-all
                        span.icon-list-cell
                            i.ion.ion-md-download
                        span.icon-list-cell
                            i.ion.ion-md-easel
                        span.icon-list-cell
                            i.ion.ion-md-egg
                        span.icon-list-cell
                            i.ion.ion-md-exit
                        span.icon-list-cell
                            i.ion.ion-md-expand
                        span.icon-list-cell
                            i.ion.ion-md-eye-off
                        span.icon-list-cell
                            i.ion.ion-md-eye
                        span.icon-list-cell
                            i.ion.ion-md-fastforward
                        span.icon-list-cell
                            i.ion.ion-md-female
                        span.icon-list-cell
                            i.ion.ion-md-filing
                        span.icon-list-cell
                            i.ion.ion-md-film
                        span.icon-list-cell
                            i.ion.ion-md-finger-print
                        span.icon-list-cell
                            i.ion.ion-md-fitness
                        span.icon-list-cell
                            i.ion.ion-md-flag
                        span.icon-list-cell
                            i.ion.ion-md-flame
                        span.icon-list-cell
                            i.ion.ion-md-flash-off
                        span.icon-list-cell
                            i.ion.ion-md-flash
                        span.icon-list-cell
                            i.ion.ion-md-flashlight
                        span.icon-list-cell
                            i.ion.ion-md-flask
                        span.icon-list-cell
                            i.ion.ion-md-flower
                        span.icon-list-cell
                            i.ion.ion-md-folder-open
                        span.icon-list-cell
                            i.ion.ion-md-folder
                        span.icon-list-cell
                            i.ion.ion-md-football
                        span.icon-list-cell
                            i.ion.ion-md-funnel
                        span.icon-list-cell
                            i.ion.ion-md-gift
                        span.icon-list-cell
                            i.ion.ion-md-git-branch
                        span.icon-list-cell
                            i.ion.ion-md-git-commit
                        span.icon-list-cell
                            i.ion.ion-md-git-compare
                        span.icon-list-cell
                            i.ion.ion-md-git-merge
                        span.icon-list-cell
                            i.ion.ion-md-git-network
                        span.icon-list-cell
                            i.ion.ion-md-git-pull-request
                        span.icon-list-cell
                            i.ion.ion-md-glasses
                        span.icon-list-cell
                            i.ion.ion-md-globe
                        span.icon-list-cell
                            i.ion.ion-md-grid
                        span.icon-list-cell
                            i.ion.ion-md-hammer
                        span.icon-list-cell
                            i.ion.ion-md-hand
                        span.icon-list-cell
                            i.ion.ion-md-happy
                        span.icon-list-cell
                            i.ion.ion-md-headset
                        span.icon-list-cell
                            i.ion.ion-md-heart
                        span.icon-list-cell
                            i.ion.ion-md-heart-dislike
                        span.icon-list-cell
                            i.ion.ion-md-heart-empty
                        span.icon-list-cell
                            i.ion.ion-md-heart-half
                        span.icon-list-cell
                            i.ion.ion-md-help-buoy
                        span.icon-list-cell
                            i.ion.ion-md-help-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-help-circle
                        span.icon-list-cell
                            i.ion.ion-md-help
                        span.icon-list-cell
                            i.ion.ion-md-home
                        span.icon-list-cell
                            i.ion.ion-md-hourglass
                        span.icon-list-cell
                            i.ion.ion-md-ice-cream
                        span.icon-list-cell
                            i.ion.ion-md-image
                        span.icon-list-cell
                            i.ion.ion-md-images
                        span.icon-list-cell
                            i.ion.ion-md-infinite
                        span.icon-list-cell
                            i.ion.ion-md-information-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-information-circle
                        span.icon-list-cell
                            i.ion.ion-md-information
                        span.icon-list-cell
                            i.ion.ion-md-jet
                        span.icon-list-cell
                            i.ion.ion-md-journal
                        span.icon-list-cell
                            i.ion.ion-md-key
                        span.icon-list-cell
                            i.ion.ion-md-keypad
                        span.icon-list-cell
                            i.ion.ion-md-laptop
                        span.icon-list-cell
                            i.ion.ion-md-leaf
                        span.icon-list-cell
                            i.ion.ion-md-link
                        span.icon-list-cell
                            i.ion.ion-md-list-box
                        span.icon-list-cell
                            i.ion.ion-md-list
                        span.icon-list-cell
                            i.ion.ion-md-locate
                        span.icon-list-cell
                            i.ion.ion-md-lock
                        span.icon-list-cell
                            i.ion.ion-md-log-in
                        span.icon-list-cell
                            i.ion.ion-md-log-out
                        span.icon-list-cell
                            i.ion.ion-md-magnet
                        span.icon-list-cell
                            i.ion.ion-md-mail-open
                        span.icon-list-cell
                            i.ion.ion-md-mail-unread
                        span.icon-list-cell
                            i.ion.ion-md-mail
                        span.icon-list-cell
                            i.ion.ion-md-male
                        span.icon-list-cell
                            i.ion.ion-md-man
                        span.icon-list-cell
                            i.ion.ion-md-map
                        span.icon-list-cell
                            i.ion.ion-md-medal
                        span.icon-list-cell
                            i.ion.ion-md-medical
                        span.icon-list-cell
                            i.ion.ion-md-medkit
                        span.icon-list-cell
                            i.ion.ion-md-megaphone
                        span.icon-list-cell
                            i.ion.ion-md-menu
                        span.icon-list-cell
                            i.ion.ion-md-mic-off
                        span.icon-list-cell
                            i.ion.ion-md-mic
                        span.icon-list-cell
                            i.ion.ion-md-microphone
                        span.icon-list-cell
                            i.ion.ion-md-moon
                        span.icon-list-cell
                            i.ion.ion-md-more
                        span.icon-list-cell
                            i.ion.ion-md-move
                        span.icon-list-cell
                            i.ion.ion-md-musical-note
                        span.icon-list-cell
                            i.ion.ion-md-musical-notes
                        span.icon-list-cell
                            i.ion.ion-md-navigate
                        span.icon-list-cell
                            i.ion.ion-md-notifications-off
                        span.icon-list-cell
                            i.ion.ion-md-notifications-outline
                        span.icon-list-cell
                            i.ion.ion-md-notifications
                        span.icon-list-cell
                            i.ion.ion-md-nuclear
                        span.icon-list-cell
                            i.ion.ion-md-nutrition
                        span.icon-list-cell
                            i.ion.ion-md-open
                        span.icon-list-cell
                            i.ion.ion-md-options
                        span.icon-list-cell
                            i.ion.ion-md-outlet
                        span.icon-list-cell
                            i.ion.ion-md-paper-plane
                        span.icon-list-cell
                            i.ion.ion-md-paper
                        span.icon-list-cell
                            i.ion.ion-md-partly-sunny
                        span.icon-list-cell
                            i.ion.ion-md-pause
                        span.icon-list-cell
                            i.ion.ion-md-paw
                        span.icon-list-cell
                            i.ion.ion-md-people
                        span.icon-list-cell
                            i.ion.ion-md-person-add
                        span.icon-list-cell
                            i.ion.ion-md-person
                        span.icon-list-cell
                            i.ion.ion-md-phone-landscape
                        span.icon-list-cell
                            i.ion.ion-md-phone-portrait
                        span.icon-list-cell
                            i.ion.ion-md-photos
                        span.icon-list-cell
                            i.ion.ion-md-pie
                        span.icon-list-cell
                            i.ion.ion-md-pin
                        span.icon-list-cell
                            i.ion.ion-md-pint
                        span.icon-list-cell
                            i.ion.ion-md-pizza
                        span.icon-list-cell
                            i.ion.ion-md-planet
                        span.icon-list-cell
                            i.ion.ion-md-play-circle
                        span.icon-list-cell
                            i.ion.ion-md-play
                        span.icon-list-cell
                            i.ion.ion-md-podium
                        span.icon-list-cell
                            i.ion.ion-md-power
                        span.icon-list-cell
                            i.ion.ion-md-pricetag
                        span.icon-list-cell
                            i.ion.ion-md-pricetags
                        span.icon-list-cell
                            i.ion.ion-md-print
                        span.icon-list-cell
                            i.ion.ion-md-pulse
                        span.icon-list-cell
                            i.ion.ion-md-qr-scanner
                        span.icon-list-cell
                            i.ion.ion-md-quote
                        span.icon-list-cell
                            i.ion.ion-md-radio-button-off
                        span.icon-list-cell
                            i.ion.ion-md-radio-button-on
                        span.icon-list-cell
                            i.ion.ion-md-radio
                        span.icon-list-cell
                            i.ion.ion-md-rainy
                        span.icon-list-cell
                            i.ion.ion-md-recording
                        span.icon-list-cell
                            i.ion.ion-md-redo
                        span.icon-list-cell
                            i.ion.ion-md-refresh-circle
                        span.icon-list-cell
                            i.ion.ion-md-refresh
                        span.icon-list-cell
                            i.ion.ion-md-remove-circle-outline
                        span.icon-list-cell
                            i.ion.ion-md-remove-circle
                        span.icon-list-cell
                            i.ion.ion-md-remove
                        span.icon-list-cell
                            i.ion.ion-md-reorder
                        span.icon-list-cell
                            i.ion.ion-md-repeat
                        span.icon-list-cell
                            i.ion.ion-md-resize
                        span.icon-list-cell
                            i.ion.ion-md-restaurant
                        span.icon-list-cell
                            i.ion.ion-md-return-left
                        span.icon-list-cell
                            i.ion.ion-md-return-right
                        span.icon-list-cell
                            i.ion.ion-md-reverse-camera
                        span.icon-list-cell
                            i.ion.ion-md-rewind
                        span.icon-list-cell
                            i.ion.ion-md-ribbon
                        span.icon-list-cell
                            i.ion.ion-md-rocket
                        span.icon-list-cell
                            i.ion.ion-md-rose
                        span.icon-list-cell
                            i.ion.ion-md-sad
                        span.icon-list-cell
                            i.ion.ion-md-save
                        span.icon-list-cell
                            i.ion.ion-md-school
                        span.icon-list-cell
                            i.ion.ion-md-search
                        span.icon-list-cell
                            i.ion.ion-md-send
                        span.icon-list-cell
                            i.ion.ion-md-settings
                        span.icon-list-cell
                            i.ion.ion-md-share-alt
                        span.icon-list-cell
                            i.ion.ion-md-share
                        span.icon-list-cell
                            i.ion.ion-md-shirt
                        span.icon-list-cell
                            i.ion.ion-md-shuffle
                        span.icon-list-cell
                            i.ion.ion-md-skip-backward
                        span.icon-list-cell
                            i.ion.ion-md-skip-forward
                        span.icon-list-cell
                            i.ion.ion-md-snow
                        span.icon-list-cell
                            i.ion.ion-md-speedometer
                        span.icon-list-cell
                            i.ion.ion-md-square-outline
                        span.icon-list-cell
                            i.ion.ion-md-square
                        span.icon-list-cell
                            i.ion.ion-md-star-half
                        span.icon-list-cell
                            i.ion.ion-md-star-outline
                        span.icon-list-cell
                            i.ion.ion-md-star
                        span.icon-list-cell
                            i.ion.ion-md-stats
                        span.icon-list-cell
                            i.ion.ion-md-stopwatch
                        span.icon-list-cell
                            i.ion.ion-md-subway
                        span.icon-list-cell
                            i.ion.ion-md-sunny
                        span.icon-list-cell
                            i.ion.ion-md-swap
                        span.icon-list-cell
                            i.ion.ion-md-switch
                        span.icon-list-cell
                            i.ion.ion-md-sync
                        span.icon-list-cell
                            i.ion.ion-md-tablet-landscape
                        span.icon-list-cell
                            i.ion.ion-md-tablet-portrait
                        span.icon-list-cell
                            i.ion.ion-md-tennisball
                        span.icon-list-cell
                            i.ion.ion-md-text
                        span.icon-list-cell
                            i.ion.ion-md-thermometer
                        span.icon-list-cell
                            i.ion.ion-md-thumbs-down
                        span.icon-list-cell
                            i.ion.ion-md-thumbs-up
                        span.icon-list-cell
                            i.ion.ion-md-thunderstorm
                        span.icon-list-cell
                            i.ion.ion-md-time
                        span.icon-list-cell
                            i.ion.ion-md-timer
                        span.icon-list-cell
                            i.ion.ion-md-today
                        span.icon-list-cell
                            i.ion.ion-md-train
                        span.icon-list-cell
                            i.ion.ion-md-transgender
                        span.icon-list-cell
                            i.ion.ion-md-trash
                        span.icon-list-cell
                            i.ion.ion-md-trending-down
                        span.icon-list-cell
                            i.ion.ion-md-trending-up
                        span.icon-list-cell
                            i.ion.ion-md-trophy
                        span.icon-list-cell
                            i.ion.ion-md-tv
                        span.icon-list-cell
                            i.ion.ion-md-umbrella
                        span.icon-list-cell
                            i.ion.ion-md-undo
                        span.icon-list-cell
                            i.ion.ion-md-unlock
                        span.icon-list-cell
                            i.ion.ion-md-videocam
                        span.icon-list-cell
                            i.ion.ion-md-volume-high
                        span.icon-list-cell
                            i.ion.ion-md-volume-low
                        span.icon-list-cell
                            i.ion.ion-md-volume-mute
                        span.icon-list-cell
                            i.ion.ion-md-volume-off
                        span.icon-list-cell
                            i.ion.ion-md-wallet
                        span.icon-list-cell
                            i.ion.ion-md-walk
                        span.icon-list-cell
                            i.ion.ion-md-warning
                        span.icon-list-cell
                            i.ion.ion-md-watch
                        span.icon-list-cell
                            i.ion.ion-md-water
                        span.icon-list-cell
                            i.ion.ion-md-wifi
                        span.icon-list-cell
                            i.ion.ion-md-wine
                        span.icon-list-cell
                            i.ion.ion-md-woman
                        span.icon-list-cell
                            i.ion.ion-logo-android
                        span.icon-list-cell
                            i.ion.ion-logo-angular
                        span.icon-list-cell
                            i.ion.ion-logo-apple
                        span.icon-list-cell
                            i.ion.ion-logo-bitbucket
                        span.icon-list-cell
                            i.ion.ion-logo-bitcoin
                        span.icon-list-cell
                            i.ion.ion-logo-buffer
                        span.icon-list-cell
                            i.ion.ion-logo-chrome
                        span.icon-list-cell
                            i.ion.ion-logo-closed-captioning
                        span.icon-list-cell
                            i.ion.ion-logo-codepen
                        span.icon-list-cell
                            i.ion.ion-logo-css3
                        span.icon-list-cell
                            i.ion.ion-logo-designernews
                        span.icon-list-cell
                            i.ion.ion-logo-dribbble
                        span.icon-list-cell
                            i.ion.ion-logo-dropbox
                        span.icon-list-cell
                            i.ion.ion-logo-euro
                        span.icon-list-cell
                            i.ion.ion-logo-facebook
                        span.icon-list-cell
                            i.ion.ion-logo-flickr
                        span.icon-list-cell
                            i.ion.ion-logo-foursquare
                        span.icon-list-cell
                            i.ion.ion-logo-freebsd-devil
                        span.icon-list-cell
                            i.ion.ion-logo-game-controller-a
                        span.icon-list-cell
                            i.ion.ion-logo-game-controller-b
                        span.icon-list-cell
                            i.ion.ion-logo-github
                        span.icon-list-cell
                            i.ion.ion-logo-google
                        span.icon-list-cell
                            i.ion.ion-logo-googleplus
                        span.icon-list-cell
                            i.ion.ion-logo-hackernews
                        span.icon-list-cell
                            i.ion.ion-logo-html5
                        span.icon-list-cell
                            i.ion.ion-logo-instagram
                        span.icon-list-cell
                            i.ion.ion-logo-ionic
                        span.icon-list-cell
                            i.ion.ion-logo-ionitron
                        span.icon-list-cell
                            i.ion.ion-logo-javascript
                        span.icon-list-cell
                            i.ion.ion-logo-linkedin
                        span.icon-list-cell
                            i.ion.ion-logo-markdown
                        span.icon-list-cell
                            i.ion.ion-logo-model-s
                        span.icon-list-cell
                            i.ion.ion-logo-no-smoking
                        span.icon-list-cell
                            i.ion.ion-logo-nodejs
                        span.icon-list-cell
                            i.ion.ion-logo-npm
                        span.icon-list-cell
                            i.ion.ion-logo-octocat
                        span.icon-list-cell
                            i.ion.ion-logo-pinterest
                        span.icon-list-cell
                            i.ion.ion-logo-playstation
                        span.icon-list-cell
                            i.ion.ion-logo-polymer
                        span.icon-list-cell
                            i.ion.ion-logo-python
                        span.icon-list-cell
                            i.ion.ion-logo-reddit
                        span.icon-list-cell
                            i.ion.ion-logo-rss
                        span.icon-list-cell
                            i.ion.ion-logo-sass
                        span.icon-list-cell
                            i.ion.ion-logo-skype
                        span.icon-list-cell
                            i.ion.ion-logo-slack
                        span.icon-list-cell
                            i.ion.ion-logo-snapchat
                        span.icon-list-cell
                            i.ion.ion-logo-steam
                        span.icon-list-cell
                            i.ion.ion-logo-tumblr
                        span.icon-list-cell
                            i.ion.ion-logo-tux
                        span.icon-list-cell
                            i.ion.ion-logo-twitch
                        span.icon-list-cell
                            i.ion.ion-logo-twitter
                        span.icon-list-cell
                            i.ion.ion-logo-usd
                        span.icon-list-cell
                            i.ion.ion-logo-vimeo
                        span.icon-list-cell
                            i.ion.ion-logo-vk
                        span.icon-list-cell
                            i.ion.ion-logo-whatsapp
                        span.icon-list-cell
                            i.ion.ion-logo-windows
                        span.icon-list-cell
                            i.ion.ion-logo-wordpress
                        span.icon-list-cell
                            i.ion.ion-logo-xbox
                        span.icon-list-cell
                            i.ion.ion-logo-xing
                        span.icon-list-cell
                            i.ion.ion-logo-yahoo
                        span.icon-list-cell
                            i.ion.ion-logo-yen
                        span.icon-list-cell
                            i.ion.ion-logo-youtube
                #ios.tab-pane(role='tabpanel')
                    .icons-list
                        span.icon-list-cell
                            i.ion.ion-ios-add-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-add-circle
                        span.icon-list-cell
                            i.ion.ion-ios-add
                        span.icon-list-cell
                            i.ion.ion-ios-airplane
                        span.icon-list-cell
                            i.ion.ion-ios-alarm
                        span.icon-list-cell
                            i.ion.ion-ios-albums
                        span.icon-list-cell
                            i.ion.ion-ios-alert
                        span.icon-list-cell
                            i.ion.ion-ios-american-football
                        span.icon-list-cell
                            i.ion.ion-ios-analytics
                        span.icon-list-cell
                            i.ion.ion-ios-aperture
                        span.icon-list-cell
                            i.ion.ion-ios-apps
                        span.icon-list-cell
                            i.ion.ion-ios-appstore
                        span.icon-list-cell
                            i.ion.ion-ios-archive
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-back
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-down
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropdown-circle
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropdown
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropleft-circle
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropleft
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropright-circle
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropright
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropup-circle
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-dropup
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-forward
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-round-back
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-round-down
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-round-forward
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-round-up
                        span.icon-list-cell
                            i.ion.ion-ios-arrow-up
                        span.icon-list-cell
                            i.ion.ion-ios-at
                        span.icon-list-cell
                            i.ion.ion-ios-attach
                        span.icon-list-cell
                            i.ion.ion-ios-backspace
                        span.icon-list-cell
                            i.ion.ion-ios-barcode
                        span.icon-list-cell
                            i.ion.ion-ios-baseball
                        span.icon-list-cell
                            i.ion.ion-ios-basket
                        span.icon-list-cell
                            i.ion.ion-ios-basketball
                        span.icon-list-cell
                            i.ion.ion-ios-battery-charging
                        span.icon-list-cell
                            i.ion.ion-ios-battery-dead
                        span.icon-list-cell
                            i.ion.ion-ios-battery-full
                        span.icon-list-cell
                            i.ion.ion-ios-beaker
                        span.icon-list-cell
                            i.ion.ion-ios-bed
                        span.icon-list-cell
                            i.ion.ion-ios-beer
                        span.icon-list-cell
                            i.ion.ion-ios-bicycle
                        span.icon-list-cell
                            i.ion.ion-ios-bluetooth
                        span.icon-list-cell
                            i.ion.ion-ios-boat
                        span.icon-list-cell
                            i.ion.ion-ios-body
                        span.icon-list-cell
                            i.ion.ion-ios-bonfire
                        span.icon-list-cell
                            i.ion.ion-ios-book
                        span.icon-list-cell
                            i.ion.ion-ios-bookmark
                        span.icon-list-cell
                            i.ion.ion-ios-bookmarks
                        span.icon-list-cell
                            i.ion.ion-ios-bowtie
                        span.icon-list-cell
                            i.ion.ion-ios-briefcase
                        span.icon-list-cell
                            i.ion.ion-ios-browsers
                        span.icon-list-cell
                            i.ion.ion-ios-brush
                        span.icon-list-cell
                            i.ion.ion-ios-bug
                        span.icon-list-cell
                            i.ion.ion-ios-build
                        span.icon-list-cell
                            i.ion.ion-ios-bulb
                        span.icon-list-cell
                            i.ion.ion-ios-bus
                        span.icon-list-cell
                            i.ion.ion-ios-business
                        span.icon-list-cell
                            i.ion.ion-ios-cafe
                        span.icon-list-cell
                            i.ion.ion-ios-calculator
                        span.icon-list-cell
                            i.ion.ion-ios-calendar
                        span.icon-list-cell
                            i.ion.ion-ios-call
                        span.icon-list-cell
                            i.ion.ion-ios-camera
                        span.icon-list-cell
                            i.ion.ion-ios-car
                        span.icon-list-cell
                            i.ion.ion-ios-card
                        span.icon-list-cell
                            i.ion.ion-ios-cart
                        span.icon-list-cell
                            i.ion.ion-ios-cash
                        span.icon-list-cell
                            i.ion.ion-ios-cellular
                        span.icon-list-cell
                            i.ion.ion-ios-chatboxes
                        span.icon-list-cell
                            i.ion.ion-ios-chatbubbles
                        span.icon-list-cell
                            i.ion.ion-ios-checkbox-outline
                        span.icon-list-cell
                            i.ion.ion-ios-checkbox
                        span.icon-list-cell
                            i.ion.ion-ios-checkmark-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-checkmark-circle
                        span.icon-list-cell
                            i.ion.ion-ios-checkmark
                        span.icon-list-cell
                            i.ion.ion-ios-clipboard
                        span.icon-list-cell
                            i.ion.ion-ios-clock
                        span.icon-list-cell
                            i.ion.ion-ios-close-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-close-circle
                        span.icon-list-cell
                            i.ion.ion-ios-close
                        span.icon-list-cell
                            i.ion.ion-ios-cloud-circle
                        span.icon-list-cell
                            i.ion.ion-ios-cloud-done
                        span.icon-list-cell
                            i.ion.ion-ios-cloud-download
                        span.icon-list-cell
                            i.ion.ion-ios-cloud-outline
                        span.icon-list-cell
                            i.ion.ion-ios-cloud-upload
                        span.icon-list-cell
                            i.ion.ion-ios-cloud
                        span.icon-list-cell
                            i.ion.ion-ios-cloudy-night
                        span.icon-list-cell
                            i.ion.ion-ios-cloudy
                        span.icon-list-cell
                            i.ion.ion-ios-code-download
                        span.icon-list-cell
                            i.ion.ion-ios-code-working
                        span.icon-list-cell
                            i.ion.ion-ios-code
                        span.icon-list-cell
                            i.ion.ion-ios-cog
                        span.icon-list-cell
                            i.ion.ion-ios-color-fill
                        span.icon-list-cell
                            i.ion.ion-ios-color-filter
                        span.icon-list-cell
                            i.ion.ion-ios-color-palette
                        span.icon-list-cell
                            i.ion.ion-ios-color-wand
                        span.icon-list-cell
                            i.ion.ion-ios-compass
                        span.icon-list-cell
                            i.ion.ion-ios-construct
                        span.icon-list-cell
                            i.ion.ion-ios-contact
                        span.icon-list-cell
                            i.ion.ion-ios-contacts
                        span.icon-list-cell
                            i.ion.ion-ios-contract
                        span.icon-list-cell
                            i.ion.ion-ios-contrast
                        span.icon-list-cell
                            i.ion.ion-ios-copy
                        span.icon-list-cell
                            i.ion.ion-ios-create
                        span.icon-list-cell
                            i.ion.ion-ios-crop
                        span.icon-list-cell
                            i.ion.ion-ios-cube
                        span.icon-list-cell
                            i.ion.ion-ios-cut
                        span.icon-list-cell
                            i.ion.ion-ios-desktop
                        span.icon-list-cell
                            i.ion.ion-ios-disc
                        span.icon-list-cell
                            i.ion.ion-ios-document
                        span.icon-list-cell
                            i.ion.ion-ios-done-all
                        span.icon-list-cell
                            i.ion.ion-ios-download
                        span.icon-list-cell
                            i.ion.ion-ios-easel
                        span.icon-list-cell
                            i.ion.ion-ios-egg
                        span.icon-list-cell
                            i.ion.ion-ios-exit
                        span.icon-list-cell
                            i.ion.ion-ios-expand
                        span.icon-list-cell
                            i.ion.ion-ios-eye-off
                        span.icon-list-cell
                            i.ion.ion-ios-eye
                        span.icon-list-cell
                            i.ion.ion-ios-fastforward
                        span.icon-list-cell
                            i.ion.ion-ios-female
                        span.icon-list-cell
                            i.ion.ion-ios-filing
                        span.icon-list-cell
                            i.ion.ion-ios-film
                        span.icon-list-cell
                            i.ion.ion-ios-finger-print
                        span.icon-list-cell
                            i.ion.ion-ios-fitness
                        span.icon-list-cell
                            i.ion.ion-ios-flag
                        span.icon-list-cell
                            i.ion.ion-ios-flame
                        span.icon-list-cell
                            i.ion.ion-ios-flash-off
                        span.icon-list-cell
                            i.ion.ion-ios-flash
                        span.icon-list-cell
                            i.ion.ion-ios-flashlight
                        span.icon-list-cell
                            i.ion.ion-ios-flask
                        span.icon-list-cell
                            i.ion.ion-ios-flower
                        span.icon-list-cell
                            i.ion.ion-ios-folder-open
                        span.icon-list-cell
                            i.ion.ion-ios-folder
                        span.icon-list-cell
                            i.ion.ion-ios-football
                        span.icon-list-cell
                            i.ion.ion-ios-funnel
                        span.icon-list-cell
                            i.ion.ion-ios-gift
                        span.icon-list-cell
                            i.ion.ion-ios-git-branch
                        span.icon-list-cell
                            i.ion.ion-ios-git-commit
                        span.icon-list-cell
                            i.ion.ion-ios-git-compare
                        span.icon-list-cell
                            i.ion.ion-ios-git-merge
                        span.icon-list-cell
                            i.ion.ion-ios-git-network
                        span.icon-list-cell
                            i.ion.ion-ios-git-pull-request
                        span.icon-list-cell
                            i.ion.ion-ios-glasses
                        span.icon-list-cell
                            i.ion.ion-ios-globe
                        span.icon-list-cell
                            i.ion.ion-ios-grid
                        span.icon-list-cell
                            i.ion.ion-ios-hammer
                        span.icon-list-cell
                            i.ion.ion-ios-hand
                        span.icon-list-cell
                            i.ion.ion-ios-happy
                        span.icon-list-cell
                            i.ion.ion-ios-headset
                        span.icon-list-cell
                            i.ion.ion-ios-heart
                        span.icon-list-cell
                            i.ion.ion-ios-heart-dislike
                        span.icon-list-cell
                            i.ion.ion-ios-heart-empty
                        span.icon-list-cell
                            i.ion.ion-ios-heart-half
                        span.icon-list-cell
                            i.ion.ion-ios-help-buoy
                        span.icon-list-cell
                            i.ion.ion-ios-help-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-help-circle
                        span.icon-list-cell
                            i.ion.ion-ios-help
                        span.icon-list-cell
                            i.ion.ion-ios-home
                        span.icon-list-cell
                            i.ion.ion-ios-hourglass
                        span.icon-list-cell
                            i.ion.ion-ios-ice-cream
                        span.icon-list-cell
                            i.ion.ion-ios-image
                        span.icon-list-cell
                            i.ion.ion-ios-images
                        span.icon-list-cell
                            i.ion.ion-ios-infinite
                        span.icon-list-cell
                            i.ion.ion-ios-information-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-information-circle
                        span.icon-list-cell
                            i.ion.ion-ios-information
                        span.icon-list-cell
                            i.ion.ion-ios-jet
                        span.icon-list-cell
                            i.ion.ion-ios-journal
                        span.icon-list-cell
                            i.ion.ion-ios-key
                        span.icon-list-cell
                            i.ion.ion-ios-keypad
                        span.icon-list-cell
                            i.ion.ion-ios-laptop
                        span.icon-list-cell
                            i.ion.ion-ios-leaf
                        span.icon-list-cell
                            i.ion.ion-ios-link
                        span.icon-list-cell
                            i.ion.ion-ios-list-box
                        span.icon-list-cell
                            i.ion.ion-ios-list
                        span.icon-list-cell
                            i.ion.ion-ios-locate
                        span.icon-list-cell
                            i.ion.ion-ios-lock
                        span.icon-list-cell
                            i.ion.ion-ios-log-in
                        span.icon-list-cell
                            i.ion.ion-ios-log-out
                        span.icon-list-cell
                            i.ion.ion-ios-magnet
                        span.icon-list-cell
                            i.ion.ion-ios-mail-open
                        span.icon-list-cell
                            i.ion.ion-ios-mail-unread
                        span.icon-list-cell
                            i.ion.ion-ios-mail
                        span.icon-list-cell
                            i.ion.ion-ios-male
                        span.icon-list-cell
                            i.ion.ion-ios-man
                        span.icon-list-cell
                            i.ion.ion-ios-map
                        span.icon-list-cell
                            i.ion.ion-ios-medal
                        span.icon-list-cell
                            i.ion.ion-ios-medical
                        span.icon-list-cell
                            i.ion.ion-ios-medkit
                        span.icon-list-cell
                            i.ion.ion-ios-megaphone
                        span.icon-list-cell
                            i.ion.ion-ios-menu
                        span.icon-list-cell
                            i.ion.ion-ios-mic-off
                        span.icon-list-cell
                            i.ion.ion-ios-mic
                        span.icon-list-cell
                            i.ion.ion-ios-microphone
                        span.icon-list-cell
                            i.ion.ion-ios-moon
                        span.icon-list-cell
                            i.ion.ion-ios-more
                        span.icon-list-cell
                            i.ion.ion-ios-move
                        span.icon-list-cell
                            i.ion.ion-ios-musical-note
                        span.icon-list-cell
                            i.ion.ion-ios-musical-notes
                        span.icon-list-cell
                            i.ion.ion-ios-navigate
                        span.icon-list-cell
                            i.ion.ion-ios-notifications-off
                        span.icon-list-cell
                            i.ion.ion-ios-notifications-outline
                        span.icon-list-cell
                            i.ion.ion-ios-notifications
                        span.icon-list-cell
                            i.ion.ion-ios-nuclear
                        span.icon-list-cell
                            i.ion.ion-ios-nutrition
                        span.icon-list-cell
                            i.ion.ion-ios-open
                        span.icon-list-cell
                            i.ion.ion-ios-options
                        span.icon-list-cell
                            i.ion.ion-ios-outlet
                        span.icon-list-cell
                            i.ion.ion-ios-paper-plane
                        span.icon-list-cell
                            i.ion.ion-ios-paper
                        span.icon-list-cell
                            i.ion.ion-ios-partly-sunny
                        span.icon-list-cell
                            i.ion.ion-ios-pause
                        span.icon-list-cell
                            i.ion.ion-ios-paw
                        span.icon-list-cell
                            i.ion.ion-ios-people
                        span.icon-list-cell
                            i.ion.ion-ios-person-add
                        span.icon-list-cell
                            i.ion.ion-ios-person
                        span.icon-list-cell
                            i.ion.ion-ios-phone-landscape
                        span.icon-list-cell
                            i.ion.ion-ios-phone-portrait
                        span.icon-list-cell
                            i.ion.ion-ios-photos
                        span.icon-list-cell
                            i.ion.ion-ios-pie
                        span.icon-list-cell
                            i.ion.ion-ios-pin
                        span.icon-list-cell
                            i.ion.ion-ios-pint
                        span.icon-list-cell
                            i.ion.ion-ios-pizza
                        span.icon-list-cell
                            i.ion.ion-ios-planet
                        span.icon-list-cell
                            i.ion.ion-ios-play-circle
                        span.icon-list-cell
                            i.ion.ion-ios-play
                        span.icon-list-cell
                            i.ion.ion-ios-podium
                        span.icon-list-cell
                            i.ion.ion-ios-power
                        span.icon-list-cell
                            i.ion.ion-ios-pricetag
                        span.icon-list-cell
                            i.ion.ion-ios-pricetags
                        span.icon-list-cell
                            i.ion.ion-ios-print
                        span.icon-list-cell
                            i.ion.ion-ios-pulse
                        span.icon-list-cell
                            i.ion.ion-ios-qr-scanner
                        span.icon-list-cell
                            i.ion.ion-ios-quote
                        span.icon-list-cell
                            i.ion.ion-ios-radio-button-off
                        span.icon-list-cell
                            i.ion.ion-ios-radio-button-on
                        span.icon-list-cell
                            i.ion.ion-ios-radio
                        span.icon-list-cell
                            i.ion.ion-ios-rainy
                        span.icon-list-cell
                            i.ion.ion-ios-recording
                        span.icon-list-cell
                            i.ion.ion-ios-redo
                        span.icon-list-cell
                            i.ion.ion-ios-refresh-circle
                        span.icon-list-cell
                            i.ion.ion-ios-refresh
                        span.icon-list-cell
                            i.ion.ion-ios-remove-circle-outline
                        span.icon-list-cell
                            i.ion.ion-ios-remove-circle
                        span.icon-list-cell
                            i.ion.ion-ios-remove
                        span.icon-list-cell
                            i.ion.ion-ios-reorder
                        span.icon-list-cell
                            i.ion.ion-ios-repeat
                        span.icon-list-cell
                            i.ion.ion-ios-resize
                        span.icon-list-cell
                            i.ion.ion-ios-restaurant
                        span.icon-list-cell
                            i.ion.ion-ios-return-left
                        span.icon-list-cell
                            i.ion.ion-ios-return-right
                        span.icon-list-cell
                            i.ion.ion-ios-reverse-camera
                        span.icon-list-cell
                            i.ion.ion-ios-rewind
                        span.icon-list-cell
                            i.ion.ion-ios-ribbon
                        span.icon-list-cell
                            i.ion.ion-ios-rocket
                        span.icon-list-cell
                            i.ion.ion-ios-rose
                        span.icon-list-cell
                            i.ion.ion-ios-sad
                        span.icon-list-cell
                            i.ion.ion-ios-save
                        span.icon-list-cell
                            i.ion.ion-ios-school
                        span.icon-list-cell
                            i.ion.ion-ios-search
                        span.icon-list-cell
                            i.ion.ion-ios-send
                        span.icon-list-cell
                            i.ion.ion-ios-settings
                        span.icon-list-cell
                            i.ion.ion-ios-share-alt
                        span.icon-list-cell
                            i.ion.ion-ios-share
                        span.icon-list-cell
                            i.ion.ion-ios-shirt
                        span.icon-list-cell
                            i.ion.ion-ios-shuffle
                        span.icon-list-cell
                            i.ion.ion-ios-skip-backward
                        span.icon-list-cell
                            i.ion.ion-ios-skip-forward
                        span.icon-list-cell
                            i.ion.ion-ios-snow
                        span.icon-list-cell
                            i.ion.ion-ios-speedometer
                        span.icon-list-cell
                            i.ion.ion-ios-square-outline
                        span.icon-list-cell
                            i.ion.ion-ios-square
                        span.icon-list-cell
                            i.ion.ion-ios-star-half
                        span.icon-list-cell
                            i.ion.ion-ios-star-outline
                        span.icon-list-cell
                            i.ion.ion-ios-star
                        span.icon-list-cell
                            i.ion.ion-ios-stats
                        span.icon-list-cell
                            i.ion.ion-ios-stopwatch
                        span.icon-list-cell
                            i.ion.ion-ios-subway
                        span.icon-list-cell
                            i.ion.ion-ios-sunny
                        span.icon-list-cell
                            i.ion.ion-ios-swap
                        span.icon-list-cell
                            i.ion.ion-ios-switch
                        span.icon-list-cell
                            i.ion.ion-ios-sync
                        span.icon-list-cell
                            i.ion.ion-ios-tablet-landscape
                        span.icon-list-cell
                            i.ion.ion-ios-tablet-portrait
                        span.icon-list-cell
                            i.ion.ion-ios-tennisball
                        span.icon-list-cell
                            i.ion.ion-ios-text
                        span.icon-list-cell
                            i.ion.ion-ios-thermometer
                        span.icon-list-cell
                            i.ion.ion-ios-thumbs-down
                        span.icon-list-cell
                            i.ion.ion-ios-thumbs-up
                        span.icon-list-cell
                            i.ion.ion-ios-thunderstorm
                        span.icon-list-cell
                            i.ion.ion-ios-time
                        span.icon-list-cell
                            i.ion.ion-ios-timer
                        span.icon-list-cell
                            i.ion.ion-ios-today
                        span.icon-list-cell
                            i.ion.ion-ios-train
                        span.icon-list-cell
                            i.ion.ion-ios-transgender
                        span.icon-list-cell
                            i.ion.ion-ios-trash
                        span.icon-list-cell
                            i.ion.ion-ios-trending-down
                        span.icon-list-cell
                            i.ion.ion-ios-trending-up
                        span.icon-list-cell
                            i.ion.ion-ios-trophy
                        span.icon-list-cell
                            i.ion.ion-ios-tv
                        span.icon-list-cell
                            i.ion.ion-ios-umbrella
                        span.icon-list-cell
                            i.ion.ion-ios-undo
                        span.icon-list-cell
                            i.ion.ion-ios-unlock
                        span.icon-list-cell
                            i.ion.ion-ios-videocam
                        span.icon-list-cell
                            i.ion.ion-ios-volume-high
                        span.icon-list-cell
                            i.ion.ion-ios-volume-low
                        span.icon-list-cell
                            i.ion.ion-ios-volume-mute
                        span.icon-list-cell
                            i.ion.ion-ios-volume-off
                        span.icon-list-cell
                            i.ion.ion-ios-wallet
                        span.icon-list-cell
                            i.ion.ion-ios-walk
                        span.icon-list-cell
                            i.ion.ion-ios-warning
                        span.icon-list-cell
                            i.ion.ion-ios-watch
                        span.icon-list-cell
                            i.ion.ion-ios-water
                        span.icon-list-cell
                            i.ion.ion-ios-wifi
                        span.icon-list-cell
                            i.ion.ion-ios-wine
                        span.icon-list-cell
                            i.ion.ion-ios-woman
                        span.icon-list-cell
                            i.ion.ion-logo-android
                        span.icon-list-cell
                            i.ion.ion-logo-angular
                        span.icon-list-cell
                            i.ion.ion-logo-apple
                        span.icon-list-cell
                            i.ion.ion-logo-bitbucket
                        span.icon-list-cell
                            i.ion.ion-logo-bitcoin
                        span.icon-list-cell
                            i.ion.ion-logo-buffer
                        span.icon-list-cell
                            i.ion.ion-logo-chrome
                        span.icon-list-cell
                            i.ion.ion-logo-closed-captioning
                        span.icon-list-cell
                            i.ion.ion-logo-codepen
                        span.icon-list-cell
                            i.ion.ion-logo-css3
                        span.icon-list-cell
                            i.ion.ion-logo-designernews
                        span.icon-list-cell
                            i.ion.ion-logo-dribbble
                        span.icon-list-cell
                            i.ion.ion-logo-dropbox
                        span.icon-list-cell
                            i.ion.ion-logo-euro
                        span.icon-list-cell
                            i.ion.ion-logo-facebook
                        span.icon-list-cell
                            i.ion.ion-logo-flickr
                        span.icon-list-cell
                            i.ion.ion-logo-foursquare
                        span.icon-list-cell
                            i.ion.ion-logo-freebsd-devil
                        span.icon-list-cell
                            i.ion.ion-logo-game-controller-a
                        span.icon-list-cell
                            i.ion.ion-logo-game-controller-b
                        span.icon-list-cell
                            i.ion.ion-logo-github
                        span.icon-list-cell
                            i.ion.ion-logo-google
                        span.icon-list-cell
                            i.ion.ion-logo-googleplus
                        span.icon-list-cell
                            i.ion.ion-logo-hackernews
                        span.icon-list-cell
                            i.ion.ion-logo-html5
                        span.icon-list-cell
                            i.ion.ion-logo-instagram
                        span.icon-list-cell
                            i.ion.ion-logo-ionic
                        span.icon-list-cell
                            i.ion.ion-logo-ionitron
                        span.icon-list-cell
                            i.ion.ion-logo-javascript
                        span.icon-list-cell
                            i.ion.ion-logo-linkedin
                        span.icon-list-cell
                            i.ion.ion-logo-markdown
                        span.icon-list-cell
                            i.ion.ion-logo-model-s
                        span.icon-list-cell
                            i.ion.ion-logo-no-smoking
                        span.icon-list-cell
                            i.ion.ion-logo-nodejs
                        span.icon-list-cell
                            i.ion.ion-logo-npm
                        span.icon-list-cell
                            i.ion.ion-logo-octocat
                        span.icon-list-cell
                            i.ion.ion-logo-pinterest
                        span.icon-list-cell
                            i.ion.ion-logo-playstation
                        span.icon-list-cell
                            i.ion.ion-logo-polymer
                        span.icon-list-cell
                            i.ion.ion-logo-python
                        span.icon-list-cell
                            i.ion.ion-logo-reddit
                        span.icon-list-cell
                            i.ion.ion-logo-rss
                        span.icon-list-cell
                            i.ion.ion-logo-sass
                        span.icon-list-cell
                            i.ion.ion-logo-skype
                        span.icon-list-cell
                            i.ion.ion-logo-slack
                        span.icon-list-cell
                            i.ion.ion-logo-snapchat
                        span.icon-list-cell
                            i.ion.ion-logo-steam
                        span.icon-list-cell
                            i.ion.ion-logo-tumblr
                        span.icon-list-cell
                            i.ion.ion-logo-tux
                        span.icon-list-cell
                            i.ion.ion-logo-twitch
                        span.icon-list-cell
                            i.ion.ion-logo-twitter
                        span.icon-list-cell
                            i.ion.ion-logo-usd
                        span.icon-list-cell
                            i.ion.ion-logo-vimeo
                        span.icon-list-cell
                            i.ion.ion-logo-vk
                        span.icon-list-cell
                            i.ion.ion-logo-whatsapp
                        span.icon-list-cell
                            i.ion.ion-logo-windows
                        span.icon-list-cell
                            i.ion.ion-logo-wordpress
                        span.icon-list-cell
                            i.ion.ion-logo-xbox
                        span.icon-list-cell
                            i.ion.ion-logo-xing
                        span.icon-list-cell
                            i.ion.ion-logo-yahoo
                        span.icon-list-cell
                            i.ion.ion-logo-yen
                        span.icon-list-cell
                            i.ion.ion-logo-youtube
