//- span 2017 - Dasha app.
.d-flex.justify-content-between.fh
    a(href="#").footer-icon
        em.ion-ios-chatboxes
        span Messages
    a(href="#").footer-icon
        em.ion-ios-albums
        span Widgets
    a(href="#").footer-icon.footer-icon-lg
        em.ion-ios-home
        span Dashboard
    a(href="#").footer-icon
        em.ion-ios-map
        span Maps
    a(href="#").footer-icon
        em.ion-ios-pie
        span Charts
