extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Dashboard'
block content
    .container-fluid

        .row
            .col-xl-9
                .welcome
                    .float-right.mt-1.mr-1.d-none.d-sm-block
                        a(href="#").text-muted: em.ion-md-apps.icon-lg
                    h1 Hello, Jane
                    p Welcome back to your Bootstrap 4 admin template.
                .my-4
                    button.btn.btn-oval.btn-primary.btn-gradient.mr-2 14 Messages
                    button.btn.btn-secondary.btn-oval(type="button")
                        em.ion-ios-redo.text-success.mr-2.icon-lg
                        span View requests
                .h-scroll
                    .row
                        .col-8.col-md-4
                            .cardbox
                                .cardbox-body
                                    .clearfix.mb-2
                                        .float-right: small: em.ml-2.ion-md-arrow-dropup
                                        .float-left
                                            small Running tasks
                                    .h3(data-counter="275") 0
                                    .text-center.mt-3
                                        #sparkline1.sparkline(data-bar-color="#42a5f5")
                        .col-8.col-md-4
                            .cardbox
                                .cardbox-body
                                    .clearfix.mb-2
                                        .float-right: small: em.ml-2.ion-md-arrow-dropdown
                                        .float-left
                                            small Commits
                                    .h3(data-counter="8345") 0
                                    .text-center.mt-3
                                        #sparkline2.sparkline(data-bar-color="#42a5f5")
                        .col-8.col-md-4
                            .cardbox
                                .cardbox-body
                                    .clearfix.mb-2
                                        .float-right: small: em.ml-2.ion-md-arrow-dropup
                                        .float-left
                                            small Pull requests
                                    .h3(data-counter="559") 0
                                    .text-center.mt-3
                                        #sparkline3.sparkline(data-bar-color="#42a5f5")

                .cardbox
                    .cardbox-heading.clearfix
                        .float-md-left
                            strong Overview of sales progress
                            br
                            small Relevance per month of the current year
                        .mb-2.d-sm-none
                        .float-md-right
                            select.custom-select.form-control.form-control-sm
                                option(value='1', selected='') Last Period
                                option(value='2') Last Month
                                option(value='4') Last Year
                                option(value='4') 01.01.2017 - 06.06.2017
                    div(style="margin: 0 -8px")
                        #flot-main-spline.flot-chart.flot-chart-lg.flot-legend-left
                    .cardbox-body
                        .h-scroll
                            .row.text-center
                                .col-sm-4
                                    small Visitors
                                    h5.mt-1.mb-3: strong 550
                                    .progress.progress-xs.mb-0.wd-xs.m-auto
                                        .progress-bar.bg-success(style='width: 45%')
                                .col-sm-4
                                    small Clicks
                                    h5.mt-1.mb-3: strong 230
                                    .progress.progress-xs.mb-0.wd-xs.m-auto
                                        .progress-bar.bg-warning(style='width: 25%')
                                .col-sm-4
                                    small Income
                                    h5.mt-1.mb-3: strong $2,154.5
                                    .progress.progress-xs.mb-0.wd-xs.m-auto
                                        .progress-bar.bg-info(style='width: 75%')

                .cardbox
                    // START table-responsive
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th Assignments
                                    th.text-center Lead
                                    th.text-center Evolution
                                    th.text-center No. Tasks
                                    th.text-right Status
                            tbody
                                tr
                                    td
                                        p.m-0 Hendrerit.
                                            br
                                            small.text-thin Sed porta fermentum felis in molestie.
                                    td.va-middle.text-center: img.wd-xxs2.rounded-circle.shadow-z2(src="img/user/02.jpg", alt="Team lead", data-toggle="tooltip" data-title="Marion Woods")
                                    td.text-right.va-middle.text-center
                                        em.ion-md-trending-up.text-success
                                    td.va-middle.text-center 25/50
                                    td.va-middle.text-right
                                        .badge.badge-info in progress
                                tr
                                    td
                                        p.m-0 Vestibulum mauris
                                            br
                                            small.text-thin Sed porta fermentum felis in molestie.
                                    td.va-middle.text-center: img.wd-xxs2.rounded-circle.shadow-z2(src="img/user/03.jpg", alt="Team lead", data-toggle="tooltip" data-title="Camila Martinez")
                                    td.text-right.va-middle.text-center
                                        em.ion-md-trending-down.text-warning
                                    td.va-middle.text-center 7/50
                                    td.va-middle.text-right
                                        .badge.badge-success completed
                                tr
                                    td
                                        p.m-0 Common Pictures
                                            br
                                            small.text-thin Sed porta fermentum felis in molestie.
                                    td.va-middle.text-center: img.wd-xxs2.rounded-circle.shadow-z2(src="img/user/04.jpg", alt="Team lead", data-toggle="tooltip" data-title="Carrie Romero")
                                    td.text-right.va-middle.text-center
                                        em.ion-md-trending-up.text-success
                                    td.va-middle.text-center 65/100
                                    td.va-middle.text-right
                                        .badge.badge-info in progress
                                tr
                                    td
                                        p.m-0 Workaround
                                            br
                                            small.text-thin Sed porta fermentum felis in molestie.
                                    td.va-middle.text-center: img.wd-xxs2.rounded-circle.shadow-z2(src="img/user/05.jpg", alt="Team lead", data-toggle="tooltip" data-title="Gregory Payne")
                                    td.text-right.va-middle.text-center
                                        em.ion-md-trending-down.text-warning
                                    td.va-middle.text-center 29/50
                                    td.va-middle.text-right
                                        .badge.badge-danger canceled
                                tr
                                    td
                                        p.m-0 Workaround
                                            br
                                            small.text-thin Sed porta fermentum felis in molestie.
                                    td.va-middle.text-center: img.wd-xxs2.rounded-circle.shadow-z2(src="img/user/07.jpg", alt="Team lead", data-toggle="tooltip" data-title="Gregory Payne")
                                    td.text-right.va-middle.text-center
                                        em.ion-md-trending-down.text-warning
                                    td.va-middle.text-center 29/50
                                    td.va-middle.text-right
                                        .badge.badge-info in progress
                    // END table-responsive

                .cardbox.cardbox-map
                    #dashboard-map.gmap.gmap-md
                    .cardbox-footer
                        .d-flex.align-items-center
                            .mr-3
                                img.thumb48.rounded-circle.img-thumbnail(src="img/user/02.jpg", alt="user")
                            div
                                strong.mr-1 Lois Miller
                                small is near to you.
                                br
                                span 5 km from your location.
                            .ml-auto
                                button.btn.btn-sm.btn-success(type="button") Start travel

            .col-xl-3

                .cardbox
                    .cardbox-heading
                        div Monthly performance
                    .cardbox-body.py-0
                        #donut-dashboard.flot-chart.flot-chart-lg
                    .cardbox-body
                        .text-center
                            span.mr-3 2017 vs. 2016
                            br
                            small Aliquam commodo mauris non lectus porttitor dignissim.
                    .cardbox-body
                        #flot-bar-chart.flot-chart.flot-chart-md(data-height="180")

                .cardbox.cardbox-flat
                    .cardbox-heading
                        .float-right
                            em.ion-ios-alert.icon-lg.text-muted
                        div System usage
                    .cardbox-body.ltr-direction
                        .text-center
                            input#dash-chart1(type="text", value="20", data-max="100")
                        small
                            span.float-right#ram-value 25%
                            | RAM
                        .progress.progress-xs.mb-4
                            #ram.progress-bar.bg-success(role='progressbar' style='width: 25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
                        small
                            span.float-right#io-value 50%
                            | I/O
                        .progress.progress-xs.mb-3
                            #io.progress-bar.bg-info(role='progressbar' style='width: 50%' aria-valuenow='50' aria-valuemin='0' aria-valuemax='100')

                .cardbox
                    .cardbox-heading
                        .float-right
                            p.m-0.text-muted
                                em.ml-2.ion-md-arrow-dropup
                        div PR/Commits per version
                        small Curabitur diam mi, ultricies eget porttitor at, suscipit nec metus.
                    .cardbox-body
                        #flot-stacked-chart.flot-chart.mb-2(data-height="190px")

block vendor_js
    // Google Maps API
    script(type='text/javascript', src='http://maps.google.com/maps/api/js?key=AIzaSyBNs42Rt_CyxAqdbIBK0a5Ut83QiauESPA')
    // Google Maps
    script(src='vendor/gmaps/gmaps.js')
    // Flot charts
    script(src='vendor/flot/jquery.flot.js')
    script(src='vendor/flot/jquery.flot.categories.js')
    script(src='vendor/jquery.flot.spline/jquery.flot.spline.js')
    script(src='vendor/jquery.flot.tooltip/js/jquery.flot.tooltip.js')
    script(src='vendor/flot/jquery.flot.resize.js')
    script(src='vendor/flot/jquery.flot.pie.js')
    script(src='vendor/flot/jquery.flot.time.js')
    script(src='vendor/sidebysideimproved/jquery.flot.orderBars.js')
    // Sparkline
    script(src='vendor/jquery-sparkline/jquery.sparkline.js')
    // jQuery Knob charts
    script(src='vendor/jquery-knob/js/jquery.knob.js')
