extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Timeline'
block content
    .container.container-sm

        // START timeline
        ul.timeline
            li.timeline-separator(data-datetime="Today")
            // START timeline item
            li
                .timeline-badge.bg-danger
                .timeline-panel
                    .cardbox
                        .cardbox-heading Client Meeting
                        .cardbox-body
                            p Pellentesque ut diam velit, eget porttitor risus. Nullam posuere euismod volutpat.
                        .cardbox-body
                            #map-tm.gmap
            // END timeline item
            // START timeline item
            li.timeline-inverted
                .timeline-badge.bg-cyan-500
                .timeline-panel
                    .cardbox.right: .card-body
                        p: strong Appointment
                        p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam.
                        p: strong People
                        p
                            a(href="#", data-toggle="tooltip", data-title="@Fowler"): img.wd-xxs.img-thumbnail.rounded-circle.mr-2(src="img/user/02.jpg", alt="user")
                            a(href="#", data-toggle="tooltip", data-title="@Castro"): img.wd-xxs.img-thumbnail.rounded-circle.mr-2(src="img/user/03.jpg", alt="user")
                            a(href="#", data-toggle="tooltip", data-title="@Jackson"): img.wd-xxs.img-thumbnail.rounded-circle.mr-2(src="img/user/04.jpg", alt="user")
            // END timeline item
            // START timeline separator
            li.timeline-separator(data-datetime="1 day ago")
            // END timeline separator
            // START timeline item
            li
                .timeline-badge.bg-yellow-500
                .timeline-panel
                    .cardbox: .cardbox-body
                        small.float-right.text-muted 50m ago
                        p: strong Conference
                        p Join development group
                        small
                            a(href='skype:echo123?call')
                                em.ion-ios-call.mr-2.icon-lg
                                |  Call the Skype Echo
            // END timeline item
            // START timeline item
            li.timeline-inverted
                .timeline-badge.bg-purple-400
                .timeline-panel
                    .cardbox: .cardbox-body
                        small.float-right.text-muted 2h ago
                        em.mr-3.ion-ios-call.icon-lg
                        | Call with Michael
            // END timeline item
            // START timeline item
            li
                .timeline-badge.bg-info
                .timeline-panel
                    .cardbox.bg-lime-500: .card-body
                        small.float-right.text-muted 10h ago
                        p: strong Fly
                        p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
            // END timeline item
            // START timeline separator
            li.timeline-separator(data-datetime="This week")
            // END timeline separator
            // START timeline item
            li.timeline-inverted
                .timeline-badge.bg-warning
                .timeline-panel
                    .card: .card-body
                        p: strong Use any element
                        p This component doesn't have a shadow because it's based on Bootstrap 4 Card.
            // END timeline item
            // START timeline item
            li.timeline-end
                a(href="#").timeline-badge.bg-blue-grey-200
            // END timeline item
        // END timeline

block vendor_js
    // Google Maps API
    script(type='text/javascript', src='//maps.google.com/maps/api/js?key=AIzaSyBNs42Rt_CyxAqdbIBK0a5Ut83QiauESPA')
    // Google Maps
    script(src='vendor/gmaps/gmaps.js')
