extends ../core/core.layout.pug
block pagetitle
    - pageTitle = 'Wall'
block content
    .container-overlap.bg-gradient-primary
    .container-fluid
        .row
            .col-xl-3.col-md-4
                .cardbox
                    .cardbox-body
                        // START dropdown
                        .float-right.dropdown
                            button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-ios-more
                            .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                a.dropdown-item(href='#') Private Message
                                a.dropdown-item(href='#') Stop following
                                .dropdown-divider(role='separator')
                                a.dropdown-item(href='#') Report
                        // END dropdown
                    .cardbox-body.text-center
                        .mb-3
                            img.wd-sm.rounded-circle.img-thumbnail(src="img/user/04.jpg", alt="user")
                        .h3 Eleanor Harper
                        p eleanor.harper@myemail.com
                    .cardbox-body
                        .row.text-center
                            .col
                                h3.mt-0.text-bold 5,5k
                                small Followers
                            .col
                                h3.mt-0.text-bold 390
                                small Following
                            .col
                                h3.mt-0.text-bold 90
                                small Posts
                    .cardbox-body
                        p: strong About
                        p Maecenas arcu augue, lobortis nec dictum eget, varius a tortor. Maecenas tellus mauris, vestibulum nec sagittis dignissim, malesuada at ante.
                    .cardbox-body
                        button.btn.btn-info.btn-block#compose(type="button") Connect
            .col-xl-6.col-md-8
                .cardbox
                    .cardbox-body
                        form.mt-3(action='')
                            .form-group
                                label What's on your mind?
                                .input-group
                                    input.form-control(type='text')
                                    .input-group-append.bl
                                        button.btn.btn-secondary(type='button').border-0
                                            em.ion-arrow-forward.text-success
                                .text-right
                                    small Any message here
                // Inner card
                .cardbox
                    .cardbox-heading
                        // START dropdown
                        .float-right.dropdown
                            button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-ios-more
                            .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                a.dropdown-item(href='#') Hide post
                                a.dropdown-item(href='#') Stop following
                                .dropdown-divider(role='separator')
                                a.dropdown-item(href='#') Report
                        // END dropdown
                        .media.m-0
                            .d-flex.mr-3
                                a(href='#')
                                    img.rounded-circle.thumb48(src='img/user/06.jpg', alt='User')
                            .media-body.p-2
                                p.m-0.text-bold Stephen Palmer
                                small.text-muted
                                    em.ion-ios-timer.text-muted.mr-2
                                    span 2 hours
                        .p Ut egestas consequat faucibus. Donec id lectus tortor. Maecenas at porta purus. Etiam feugiat risus massa. Vivamus fermentum libero vel felis aliquet interdum.
                    .cardbox-footer
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-thumbs-up.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-md-happy.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-chatboxes.icon-lg
                // Inner card
                .cardbox
                    .cardbox-heading
                        // START dropdown
                        .float-right.dropdown
                            button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-ios-more
                            .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                a.dropdown-item(href='#') Hide post
                                a.dropdown-item(href='#') Stop following
                                .dropdown-divider(role='separator')
                                a.dropdown-item(href='#') Report
                        // END dropdown
                        .media.m-0
                            .d-flex.mr-3
                                a(href='#')
                                    img.rounded-circle.thumb48(src='img/user/05.jpg', alt='User')
                            .media-body.p-2
                                p.m-0.text-bold Ricky Wagner
                                small.text-muted
                                    em.ion-ios-timer.text-muted.mr-2
                                    span 10 hours
                    .cardbox-item
                      img.fw.img-fluid(src='img/pic6.jpg', alt='MaterialImg')
                      .cardbox-item-text.bg-transparent
                        p In lacinia tellus vitae nisl consectetur pellentesque.
                    .cardbox-footer
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-thumbs-up.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-md-happy.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-chatboxes.icon-lg
                // Inner card
                .cardbox.reader-block
                    .cardbox-heading
                        // START dropdown
                        .float-right.dropdown
                            button.btn.btn-secondary.btn-flat.btn-flat-icon(type='button', data-toggle='dropdown')
                                em.ion-ios-more
                            .dropdown-menu.dropdown-scale.dropdown-menu-right(role='menu')
                                a.dropdown-item(href='#') Hide post
                                a.dropdown-item(href='#') Stop following
                                .dropdown-divider(role='separator')
                                a.dropdown-item(href='#') Report
                        // END dropdown
                        .media.m-0
                            .d-flex.mr-3
                                a(href='#')
                                    img.rounded-circle.thumb48(src='img/user/06.jpg', alt='User')
                            .media-body.p-2
                                p.m-0.text-bold Stephen Palmer
                                small.text-muted
                                    em.ion-ios-timer.text-muted.mr-2
                                    span Yesterday
                        .p
                            .mb-3 Donec a purus auctor dui hendrerit accumsan non quis augue nisl sed iaculis.
                            a(href='#')
                                img.mr-2.thumb48(src='img/pic1.jpg', alt='Pic')
                            a(href='#')
                                img.mr-2.thumb48(src='img/pic2.jpg', alt='Pic')
                            a(href='#')
                                img.mr-2.thumb48(src='img/pic3.jpg', alt='Pic')
                            a(href='#')
                                img.mr-2.thumb48(src='img/pic4.jpg', alt='Pic')
                    .cardbox-footer
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-thumbs-up.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-md-happy.icon-lg
                        button.btn.btn-flat.btn-primary(type="button"): em.ion-ios-chatboxes.icon-lg
            .col-xl-3.col-md-12
                .push-down
                .cardbox.cardbox-transparent
                    h5.cardbox-heading Contacts
                    .list-group
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/01.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Eric Graves
                                    .text-muted.text-ellipsis Ut ac nisi id mauris
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/02.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Becky Mills
                                    .text-muted.text-ellipsis Sed laoreet arcu pharetra.
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/03.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Ronald Gutierrez
                                    .text-muted.text-ellipsis Ut ac nisi id mauris
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/04.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Johnny Bowman
                                    .text-muted.text-ellipsis Ut ac nisi id mauris
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/05.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Carter Sims
                                    .text-muted.text-ellipsis Sed laoreet arcu pharetra.
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/06.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Allen Olson
                                    .text-muted.text-ellipsis Ut ac nisi id mauris
                        .list-group-item.flex-column.align-items-start.border-0
                            .d-flex
                                .mr-4: img.thumb48.rounded-circle(src="img/user/07.jpg", alt="List user")
                                div
                                    .lead: a(href="#") Keith Gutierrez
                                    .text-muted.text-ellipsis Sed laoreet arcu pharetra.
